<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <!-- Cubicorn ico -->
    <link href="/static/favicon.ico" rel="icon">
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/static/PROFEScssjs/styles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <title>MAIN - Ingenieria del Futuro</title>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i></i>
      <span class="logo_name"><a href="/"><img src='static/logowhite.png' style='height: 65px;' alt=''></a></span>
    </div>
    <ul class="nav-links">

      <li>

        <li>
          <a href="#">
            <i class=''></i>
            <span class="link_name">Especialistas en:</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#"></a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-arch'></i>
              <span class="link_name">Arquitectura</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Arquitectura</a></li>
            <li><a href="/pistasveredas">Diseño</a></li>
            <li><a href="/pistasveredas">Urbanismo</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-money'></i>
              <span class="link_name">Contaduría</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Contaduría</a></li>
            <li><a href="#">Auditoria Contable</a></li>
            <li><a href="#">Costos</a></li>
            <li><a href="#">Finanzas</a></li>
            <li><a href="#">Tributación</a></li>  
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-world'></i>
              <span class="link_name">Geología</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Geología</a></li>
            <li><a href="#">Sismología</a></li>
            <li><a href="#">Hidrología</a></li>
            <li><a href="#">Mineralogía</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-buildings'></i>
              <span class="link_name">Ingenieria</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Ingenieria</a></li>
            <li><a href="#">Estructural</a></li>
            <li><a href="#">Carreteras</a></li>
            <li><a href="#">Costos y Presupuestos</a></li>
            <li><a href="#">Geotecnia</a></li>
            <li><a href="#">Hidraúlica</a></li>
            <li><a href="#">Informática</a></li>
            <li><a href="#">Transportes</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-money'></i>
            <span class="link_name">Topografía</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Topografía</a></li>
          </ul>
        </li>

      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Los mejores</div>
        <div class="job">¡Aquí!</div>
      </div>
      <a href="/">
        <i class='bx bx-log-out'></i>
      </a>
    </div>
  </li>

  </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">PROFESIONALES</span>
    </div>
    <section class="intro">
      <div class="content">
        <h1><b>¿NECESITAS UN ESPECIALISTA?</b></h1>
        <h2>Contáctanos al correo: mainconsultoriaperu@gmail.com
        <h2>Whatsapp: +51986267195</h2>
        </h2>
      </div>
      <div class="video">
          <img src="static/budget.png" alt="">
      </div>
    </section>
    
  </section>

<!--Scripts -->
<script src="static/PROFEScssjs/script.js"></script>

</body>
</html>