<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <!-- Cubicorn ico -->
    <link href="/static/favicon.ico" rel="icon">
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/static/EXP_PUBcssjs/styles.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <title>MAIN - Ingenieria del Futuro</title>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i></i>
      <span class="logo_name"><a href="/"><img src='static/logowhite.png' style='height: 65px;' alt=''></a></span>
    </div>
    <ul class="nav-links">

      <li>

        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Comercio</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">08 Comercio</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="link_name">Agropecuaria</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">10 Agropecuaria</a></li>
            <li><a href="/pistasveredas">Riego Tecnificado</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-book-alt'></i>
              <span class="link_name">Transportes</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">15 Transportes</a></li>
            <li><a href="/pistasveredas">Pistas y Veredas</a></li>
            <li><a href="#">Caminos de Herradura</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Comunicación</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">16 Comunicación</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Ambiente</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">17 Ambiente</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="link_name">Saneamientos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">18 Saneamientos</a></li>
            <li><a href="#">Urbanos</a></li>
            <li><a href="#">Rurales</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="link_name">Vivienda</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">19 Vivienda y Desarrollo Urbano</a></li>
            <li><a href="#">Espacios Públicos</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Cultura</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">21 Cultura y Deporte</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="link_name">Educación</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">22 Educación</a></li>
            <li><a href="#">Educación Primaria</a></li>
            <li><a href="#">Educación Secundaria</a></li>
          </ul>
        </li>

      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Más proyectos</div>
        <div class="job">¡Pronto!</div>
      </div>
      <a href="/exptecnicos">
        <i class='bx bx-log-out'></i>
      </a>
    </div>
  </li>

  </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">PARTES FUNDAMENTALES</span>
    </div>
    <section class="intro">
      <div class="content">
        <h1><b>EXPEDIENTE TÉCNICO</b></h1>
        <div>
          <h3>
              <ul>
                  <li>1. RESUMEN EJECUTIVO</li>
                  <li>2. MEMORIA DESCRIPTIVA</li>
                  <li>3. ESPECIFICACIONES TÉCNICAS</li>
                  <li>4. METRADOS</li>
                  <li>5. PRESUPUESTOS</li>
                  <li>6. CRONOGRAMA</li>
                  <li>7. ESTUDIOS BÁSICOS</li>
                  <li>8. INGENIERÍA DEL PROYECTO</li>
                  <li>9. PLANOS</li>
                  <li>10. ANEXOS Y DOCUMENTOS</li>
                  </ul>
          </h3>
        </div>
      </div>
      <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pBPzgLzDAEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
    
  </section>

<!--Scripts -->
<script src="static/EXP_PUBcssjs/script.js"></script>

</body>
</html>