*
{
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html
{
    height: auto;
}

nav ul li a:hover{
    background: #fff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*No scrollbars in X axis*/
    overflow-x: hidden;
}

.contenedor{
    margin: 0;
    overflow: auto;
}

main ul{
    padding: 0;
    list-style: none;
}

main table
{
    /* left-align contents */
    text-align: left;
}

main tfoot
{
    /* boldface tables' footers */
    font-weight: bold;
}
/*---------------------------------------------------------------INDEX CSS---------------------------------------------------------*/
.intro{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.intro #stars, #front, #font, #moon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro img#moon{
    mix-blend-mode: screen;
    width: 200px;
}

.intro img#front{
    z-index: 10;
}

.intro img#font{
    z-index: 8;
}

#text{
    position: absolute;
    z-index: 9;
    right: -350px;
}

#text2{
    position: absolute;
    top: 100px;
    z-index: 9;
}

.intro p{
    color:rgb(3, 92, 102);
    font-size: 4rem;
    text-align: center;
    line-height: 60px;
}

.intro h1{
    color:rgb(2, 54, 59);
}

.intro::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(146, 109, 116), transparent);
    z-index: 1000;
}

.caratula{
    display: grid;
    padding: 0 100px;
    position: relative;
    min-height: 100vh;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 50px;
    align-items: center;
}

.indice{
    padding: 50px 20px;
    padding-top: 110px; 
    text-align: center;
}

.quehacemos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 50px;
}


.cosas{
    border-radius:30px;
    background-color: white;
    text-align: center;
    padding: 5px;
    height: 100%;
    position: relative;
    box-shadow: 0 10px 10px rgba(50, 60, 60, 0.2);
}

#main{
    background-color: rgb(3, 92, 102);
}

.centrarcosas{
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quehacemos h1{
    font-size: 1.2rem;
}

.quehacemos h2{
    font-size: 0.8rem;
}

.quehacemos ul{
    font-size: 0.8rem;
}

#section-3{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 220px;
}

#handy_izq
{
    float: left;
    width: 40%;
    text-align: right;
}

#budget_izq
{
    float: left;
    width: 75%;
    text-align: right;
    height: 100%;
}

#handy_der
{
    float: right;
    width: 60%;
    height: 100%;
}

#handy
{
    max-height: 400px;
    max-width: 100%;
    padding-right: 20px;
}

#budget
{
    max-height: 400px;
    max-width: 100%;
    padding-left: 20px;
} 

#budget_der
{
    float: right;
    width: 25%;
    text-align: left;
}

#section-4{
    position: relative;
}

#wrapper{
    text-align: center;
}

#btn1, #btn2
{
    width: 100%;
    height: 100%;
}

#capa_izquierda
{
    float: left;
    width: 60%;
}

#capa_derecha
{
    float: right;
    width: 40%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
}

.cubicornio{
    background-color: white;
    position: relative;
    padding: 0px 200px;
}

footer
{
    background-color: whitesmoke;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    color: hsla(0,0%,100%,.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: auto;
}

.clearfix
{
    clear: both
}

/*scroll properties*/
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 48%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001;
}
 
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
    top: 20%;
    animation-delay: .3s;
}

/*Cursor animacion intro*/

.txt-type > .txt {
    position: relative;
}

.txt-type > .txt::after {
    content: "";
    position: absolute;
    right: -5px;
    height: 100%;
    width: 20px;
    border-right: 3px solid black;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

/*Change some conditions when viewport is modified*/
@media (max-width: 1200px) {
    .cubicornio {
        padding: 0 80px;
    }
    #section-3{
        padding: 0 50px;
    }
}

@media (max-width: 750px) {
    .intro{
        padding-top: 50px;
    }

    .intro #front, #font{
        object-fit: contain;
        position: absolute;
        top: 65%;
        height: 350px;
    }

    .intro #moon{
        height: 300px;
    }

    .intro::before{
        height: 20px;
    }

    #text{
        right: 0px;
    }

    .intro p{
        font-size: 3rem;
    }

    .intro h1{
        font-size: 1.2rem;
        margin-top: 20%;
    }

    .caratula {
        padding: 50px 50px;
        padding-top: 50px;
        display: block;
    }
    .caratula h1{
        font-size: 2rem;
    }
    .caratula h2{
        font-size: 1rem;
    }
    .indice{
        padding: 0px 0px;
        margin-top: 70px; 
        text-align: center;
    }

    .quehacemos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 30px;
    }

    .quehacemos h1{
        font-size: 1.2rem;
    }

    #wrapper{
        display: table;
    }
    #capa_izquierda{
        float: none;
        width: 100%;
        display: table-footer-group;
        position: static;
    }
    #capa_derecha{
        float: none;
        padding: unset;
        width: 100%;
        display: table-header-group;
        position: static;
    }
    
    .cubicornio{
        padding: 0px 10px;
    }
    .cubicornio h1{
        font-size: 30px;
    }
    #btn1{
        height: 100px;
    }
    #btn2{
        height: 100px;
        line-height: 25px;
    }
    #section-3{
        padding: 0 0;
        padding-top: 50px;
    }
    .animado{
        padding: 0 0;
        padding-top: 100px;
    }
}

/*ANIMACIONES DE BACKGROUND*/

.intro{
    background: linear-gradient(rgb(108, 150, 216),rgb(245, 250, 228));
}

#section-2{
    background-color: rgb(146, 109, 116);
}

#section-3{
    background-color: whitesmoke;
}

#section-4{
    background-color: white;
}

/*---------------------------------------------------------------REGISTRATION CSS---------------------------------------------------------*/

.form_box{
    width: 300px;
    margin: auto;
    padding-top: 100px;
    min-height: 90vh;
    text-align: center;
}


/*---------------------------------------------------class "QUE HACEMOS" Y "COSAS" EFFECT CSS----------------------------------*/
.quehacemos label {
	display: block;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
    margin: 0;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
    min-height: 195px;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
    border-radius:30px;
	text-align: center;
	backface-visibility: hidden;
}

.flip-card .back {
	transform: rotateX(180deg);
}

label:hover .flip-card {
	transform: rotateX(2deg);
}

input {
	display: none;
}

:checked + .flip-card {
	transform: rotateX(180deg);
}
label:hover :checked + .flip-card {
	transform: rotateX(175deg);
	box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);

}


