*
{
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}
html
{
    height: auto;
    scroll-behavior: smooth;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*No scrollbars in X axis*/
    overflow-x: hidden;
}

.contenedor{
    margin: 0;
    overflow: auto;
}

/*---------------------------------------------------------------INDEX CSS---------------------------------------------------------*/
.intro{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    position: relative;
}

.intro p{
    color:rgb(3, 92, 102);
    font-size: 3rem;
    text-align: center;
}

.intro h1{
    padding: 10px;
    padding-left: 20px;
    font-size: 1.7rem;
    margin:15px auto;
    width:900px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    background-color: white;
    
}

.intro h1 img{
    height: 1.5rem;
    margin: auto;
    margin-right: 20px;
    
}

.intro h1:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

.intro h1:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.intro h2{
    margin-top: 130px;
    text-align: center;
    font-size: 1.5rem;
}

/*Change some conditions when viewport is modified*/

@media (max-width: 750px) {
    .intro{
        padding-top: 50px;
    }
    .intro h1{
        font-size: 0.8rem;
        width: 300px;
        margin: 10px auto;
        margin-bottom: 40px;
    }
    .intro h1 img{
        height: 1rem;
        margin: auto;
        margin-right: 10px; 
    }

}