{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<section class="intro">
    <img src="static/main.gif" alt="" style="height: auto; width: 250px; margin: auto; margin-bottom: 0; margin-top: 0;">
    <h1 style="text-align: center;;">
        Si deseas compartir información con nosotros: expedientes, costos, partidas, etc. Brindarnos sugerencias y recomendaciones.<br><br>
        Escríbenos al correo:<br><br>
        <span style=" font-size: larger;">mainconsultoriaperu@gmail.com</span> <br><br>
        <span> Whatsapp: +51986267195</span>
    </h1>
</section>
{% endblock %}