<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W8V5G6G');</script>
        <!-- End Google Tag Manager -->

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="e1IUGGe5jtLX6mEy5FDHZ4VVLCjzQqEFkBjx-34rmVE" />

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- Main ico -->
        <link href="/static/favicon.ico" rel="icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        
        <link href="/static/styles1.css" rel="stylesheet">
        
        <!-- AOS Library -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <title>MAIN - Ingenieria del Futuro {% block title %}{% endblock %}</title>

    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8V5G6G"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <nav class="navbar navbar-expand-md fixed-top navbar-light" >
            <a href="/"><img src='static/MAIN.gif' style='height: 50px;' alt=''></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/quote">Registrar productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buy">Registrar tienda</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Expedientes Técnicos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="/exptecnicos">Buscador de Expedientes</a></li>
                              <li><a class="dropdown-item" href="/exp_publicos">Partes de un Expediente</a></li>
                            </ul>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="/costos">Costos</a></li>
                          <li class="nav-item"><a class="nav-link" href="/develop" style="font-size: 0.8rem; line-height: 15px;">Somos Comunidad <br> ¡Mejoremos Juntos!</a></li>
    
                        <!--<li class="nav-item"><a class="nav-link" href="/develop" >Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/develop">Log In</a></li>-->
                    </ul>
                {% endif %}
            </div>
        </nav>
        
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}


        <main class="contenedor">
        {% block main %}{% endblock %}
        </main>

        <div class="contenedor2">
        {% block body %}{% endblock %}
        </div>
        
        <footer class="small text-center text-muted">
            © Todos los Derechos Reservados. v1.0
        </footer>
        
        <!--Own Scripts -->
        <script src="static/script.js"></script>

        <!-- Scripts -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   
    </body>
    <!--AOS Scripts -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init(
        {
            duration:3000,
            offset: 100 
        }
    );</script>
    
</html>
