<h3 style="padding: 20px 0;">{{numrows}} Proyectos Encontrados</h3>
<table id="proyectos" class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
      <tr>
          <th>Distrito</th>
          <th>Tipología</th>
          <th>Nombre Proyecto</th>
          <th>Modalidad</th>
      </tr>
    </thead>
    <tbody>
{% for row in OutputArray %}
<tr style="font-size: 0.85rem;">
    <td>{{row.distrito}}</td>
    <td>{{row.nombre}}</td>
    <td>{{row.universidad}}</td>
    <td>{{row.autores}}</td>
</tr>
{% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        /* We have to use $.fn.dataTable.isDataTable() static method to allow the multiple Datatable calls with differente options */
        /* more info https://datatables.net/manual/tech-notes/3 */
        if ( $.fn.dataTable.isDataTable( '#proyectos' ) ) {
        table = $('proyectos').DataTable({
            "scrollY": "300px",
            "scrollCollapse": true, 
        });
        }
        else {
            table = $('#proyectos').DataTable( {
                "scrollY": "300px",
                "scrollCollapse": true,
            } );
        }
    });
       
</script>